{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-6">
                <h5 class="card-header text-dark bg-warning">
                    Войти в учетную запись
                </h5>
                <div class="card-body">
                    <form class="mb-3" method="POST" action="{{ url_for('login') }}">
                        <div class="mb-3">
                            <input type="text" required
                                placeholder="Введите имя пользователя"
                                name="username"
                                value="{{ username }}"
                                class="form-control"
                            >
                        </div>
                        <div class="mb-3">
                            <input type="password" required
                                placeholder="Введите пароль"
                                name="password"
                                class="form-control"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            Неправильное имя пользователя или пароль!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
