{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-6">
                <h5 class="card-header text-dark bg-warning">
                    Выход из учетной записи
                </h5>
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        Вы успешно вышли из своей учётной записи!
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
