POSTGRES_DB=local_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
OFM_DATABASE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
PGADMIN_DEFAULT_EMAIL=admin@ya.ru
PGADMIN_DEFAULT_PASSWORD=admin
LDAP_HOST="example.com"
LDAP_PORT=389
APP_DEFAULT_USERNAME=admin
APP_DEFAULT_PASSWORD=password
SECRET_KEY=secret_key
