{% macro spinner_button(name, text, func) -%}
    <div class="input-group mb-1">
        <button
            type="button"
            class="btn btn-primary"
            id="{{ name }}Button"
            onclick="{{ func }}('{{ name }}')"
        >
            <span
                class="spinner-border spinner-border-sm d-none"
                id="{{ name }}Status"
                role="status"
            >
            </span>
            <i class="bi bi-download"></i> {{ text }}
        </button>
    </div>
{%- endmacro %}

{% macro date_range(item) -%}
    <div class="form-floating mb-3">
        <input
            type="date"
            class="form-control"
            id="{{ item.path }}Start"
            name="date_from"
            data-form="{{ item.path }}"
            data-field="date_from"
            data-label="{{ item.date_from.label }}"
            {% if item.date_from.required %}data-required{% endif %}
            {% if item.date_from.value %}value="{{ item.date_from.value }}"{% endif %}
            placeholder
        >
        <label for="{{ item.path }}Start">{{ item.date_from.label }}</label>
    </div>
    <div class="form-floating mb-3">
        <input
            type="date"
            class="form-control"
            id="{{ item.path }}End"
            name="date_to"
            data-form="{{ item.path }}"
            data-field="date_to"
            data-label="{{ item.date_to.label }}"
            {% if item.date_to.required %}data-required{% endif %}
            {% if item.date_to.value %}value="{{ item.date_to.value }}"{% endif %}
            placeholder
        >
        <label for="{{ item.path }}End">{{ item.date_to.label }}</label>
    </div>
{%- endmacro %}

{% macro on_date(item) -%}
    <div class="form-floating mb-3">
        <input
            type="date"
            class="form-control"
            id="{{ item.path }}OnDate"
            name="on_date"
            data-form="{{ item.path }}"
            data-field="on_date"
            data-label="{{ item.on_date.label }}"
            {% if item.on_date.required %}data-required{% endif %}
            {% if item.on_date.value %}value="{{ item.on_date.value }}"{% endif %}
            placeholder
        >
        <label for="{{ item.path }}OnDate">{{ item.on_date.label }}</label>
    </div>
{%- endmacro %}

{% macro form_date_range(item, button_text, button_func) -%}
    {{ date_range(item) }}
    {{ spinner_button(item.path, button_text, button_func) }}
{%- endmacro %}

{% macro form_on_date(item, button_text, button_func) -%}
    {{ on_date(item) }}
    {{ spinner_button(item.path, button_text, button_func) }}
{%- endmacro %}

{% macro form_upload_file(item, button_text, button_func) -%}
    <div class="mb-3">
        <label class="form-check-label" for="{{ item.path }}File">{{ item.file.label }}</label>
        <input
            type="file"
            class="form-control"
            id="{{ item.path }}File"
            name="file"
            data-form="{{ item.path }}"
            data-field="file"
            data-label="{{ item.file.label }}"
            {% if item.file.required %}data-required{% endif %}
        >
    </div>
    {{ spinner_button(item.path, button_text, button_func) }}
{%- endmacro %}
