{% macro spinner_button(name, text, func) -%}
    <div class="input-group mb-1">
        <button
            type="button"
            class="btn btn-primary"
            id="{{ name }}Button"
            onclick="{{ func }}('{{ name }}')"
        >
            <span
                class="spinner-border spinner-border-sm d-none"
                id="{{ name }}Status"
                role="status"
            >
            </span>
            {{ text }}
        </button>
    </div>
{%- endmacro %}

{% macro date_range(name) -%}
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="{{ name }}Start" name="start" placeholder/>
        <label for="{{ name }}Start">Начальная дата</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="{{ name }}End" name="end" placeholder/>
        <label for="{{ name }}Start">Конечная дата</label>
    </div>
{%- endmacro %}

{% macro on_date(name) -%}
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="{{ name }}OnDate" name="on_date" placeholder/>
        <label for="{{ name }}Start">На дату</label>
    </div>
{%- endmacro %}

{% macro form_date_range(name, button_text, button_func) -%}
    {{ date_range(name) }}
    {{ spinner_button(name, button_text, button_func) }}
{%- endmacro %}

{% macro form_on_date(name, button_text, button_func) -%}
    {{ on_date(name) }}
    {{ spinner_button(name, button_text, button_func) }}
{%- endmacro %}

{% macro form_upload_file(name, button_text, button_func) -%}
    <div class="input-group mb-1">
        <input type="file" class="form-control" id="{{ name }}File" name="file"/>
    </div>
    {{ spinner_button(name, button_text, button_func) }}
{%- endmacro %}
