{% macro paginator(page_obj, request, url_name) -%}
  {% if page_obj.pages > 1 %}
    <nav aria-label="Page navigation" class="my-5">
      <ul class="pagination justify-content-center flex-wrap">
        {% if page_obj.page > 1 %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ request.url_for(url_name).include_query_params(page=1) }}"
            >
              Первая
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="{{ request.url_for(url_name).include_query_params(page=page_obj.page - 1) }}"
            >
              Предыдущая
            </a>
          </li>
        {% endif %}

        {% for i in range(1, page_obj.pages + 1) %}
          {% if page_obj.page == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a
                class="page-link"
                href="{{ request.url_for(url_name).include_query_params(page=i) }}"
              >
                {{ i }}
              </a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.page < page_obj.pages %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ request.url_for(url_name).include_query_params(page=page_obj.page + 1) }}"
            >
              Следующая
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="{{ request.url_for(url_name).include_query_params(page=page_obj.pages) }}"
            >
              Последняя
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endmacro %}
