<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">ОКЭСП</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a
                        class="nav-link
                        {% if request.route.name == 'reports' %}active{% endif %}"
                        href="{{ url_for('reports') }}"
                    >
                        Отчеты
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link
                        {% if request.route.name == 'tables' %}active{% endif %}"
                        href="{{ url_for('tables') }}"
                    >
                        Таблицы
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    {% if user %}
                        <span class="navbar-text text-light">
                            Пользователь: {{ user.username }}
                        </span>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page') }}">
                                Выйти
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a
                                class="nav-link
                                {% if request.route.name == 'login_page' %}active{% endif %}"
                                href="{{ url_for('login_page') }}"
                            >
                                Войти
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
